.login{
    display: flex;
    height: 100vh;
    background: #ffffff;
    font-family: "Inter", sans-serif;

    &__left{
        flex: 1;
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .login__logo{
            width: 140px;
        }

        .login__image{
            width: 100%;
            max-width: 500px;
            align-items: center;
            margin-bottom: 150px;
            margin-left: 50px;
        }
    }

    &__right{
        flex: 1;
        padding: 120px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            font-size: 50px;
            color: #312f7d;
            margin-bottom: 8px;
        }

        p{
            color: #545f7d;
            margin-bottom: 40px;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 24px;

        input{
            padding: 14px;
            border: 1px solid #dcdfe8;
            border-radius: 5px;
            font-size: 14px;
            outline: none;
            width: 80%;
            padding-right: 20px;
        }

        .password__wrapper{
            position: relative;
            
            span{
                position: relative;
                right: 10%;
                transform: translateY(-50%);
                font-size: 15px;
                color: #39cdcc;
                cursor: pointer;
                font-weight: 600;
            }
        }

        .forgot{
            font-size: 12px;
            color: #39cdcc;
            font-weight: 600;
            text-decoration: none;
            margin-top: -10px;
        }

        button{
            margin-top: 20px;
            padding: 14px;
            border: none;
            background: #39cdcc;
            color: #fff;
            font-weight: 600;
            border-radius: 8px;
            cursor: pointer;
            width: 85%;
        }
    }
}