.sidebar{
    width: 260px;
    height: 100vh;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    padding: 1rem 0.5rem;
    font-family: "Inter",sans-serif;
    transition: transform 0.3s ease;

    &__top{
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
    }

    &__switch{
        font-size: 0.85rem;
        color: #2563eb;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__section{
        margin-bottom: 1.2rem;
    }

    &__title{
       font-size: 0.65rem; 
       font-family: 600;
       color: #9ca3af;
       padding: 0 1rem;
       margin: 0.5rem 0;
       letter-spacing: 1px;
    }

    &__item{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0.6rem 1rem;
        font-size: 0.8rem;
        color: #6b7280;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease;
    
    svg{
        color: #9ca3af;
    }

    &:hover{
        background: #f1f5f9;
        color: #2563eb;

        svg{
            color: #2563eb;
        }
    }

    &.active{
        background: #ecfeff;
        color: #0ea5e9;

    svg{
        color: #0ea5e9;
    }
    }
}

&__logout{
    color: #6b7280;
    font-size: 0.8rem;
    border-top: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;

    p{
        margin-top: 20px;
    }

    a{
        text-decoration: none;
        display: flex;
        color: #6b7280;
    }
}
}

/* MOBILE */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 64px; // header height
        left: -260px;
        height: calc(100vh - 64px);
        z-index: 1000;
        transition: left 0.3s ease;
    }

    .sidebar.open {
        left: 0;
    }
}